<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ifinanceweb.db.mybatis.mapper.EncyclopediaContentMapper" >
  <resultMap id="BaseResultMap" type="com.ifinanceweb.db.mybatis.entity.EncyclopediaContent" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="catalog_typecode" property="catalogTypecode" jdbcType="VARCHAR" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="createdOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateby" jdbcType="BIGINT" />
    <result column="updatedOn" property="updatedon" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ifinanceweb.db.mybatis.entity.EncyclopediaContent" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, catalog_typecode, createdBy, createdOn, updateBy, updatedOn
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_encyclopedia_content
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_encyclopedia_content
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ifinanceweb.db.mybatis.entity.EncyclopediaContent" >
    insert into t_encyclopedia_content (ID, catalog_typecode, createdBy, 
      createdOn, updateBy, updatedOn, 
      content)
    values (#{id,jdbcType=INTEGER}, #{catalogTypecode,jdbcType=VARCHAR}, #{createdby,jdbcType=BIGINT}, 
      #{createdon,jdbcType=TIMESTAMP}, #{updateby,jdbcType=BIGINT}, #{updatedon,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ifinanceweb.db.mybatis.entity.EncyclopediaContent" >
    insert into t_encyclopedia_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="catalogTypecode != null" >
        catalog_typecode,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="createdon != null" >
        createdOn,
      </if>
      <if test="updateby != null" >
        updateBy,
      </if>
      <if test="updatedon != null" >
        updatedOn,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catalogTypecode != null" >
        #{catalogTypecode,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="createdon != null" >
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=BIGINT},
      </if>
      <if test="updatedon != null" >
        #{updatedon,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ifinanceweb.db.mybatis.entity.EncyclopediaContent" >
    update t_encyclopedia_content
    <set >
      <if test="catalogTypecode != null" >
        catalog_typecode = #{catalogTypecode,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="createdon != null" >
        createdOn = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        updateBy = #{updateby,jdbcType=BIGINT},
      </if>
      <if test="updatedon != null" >
        updatedOn = #{updatedon,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ifinanceweb.db.mybatis.entity.EncyclopediaContent" >
    update t_encyclopedia_content
    set catalog_typecode = #{catalogTypecode,jdbcType=VARCHAR},
      createdBy = #{createdby,jdbcType=BIGINT},
      createdOn = #{createdon,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=BIGINT},
      updatedOn = #{updatedon,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ifinanceweb.db.mybatis.entity.EncyclopediaContent" >
    update t_encyclopedia_content
    set catalog_typecode = #{catalogTypecode,jdbcType=VARCHAR},
      createdBy = #{createdby,jdbcType=BIGINT},
      createdOn = #{createdon,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=BIGINT},
      updatedOn = #{updatedon,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>