<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.jw.ess.entity.Tenant" alias="Tenant" />
		<typeAlias type="com.jw.ess.entity.Floor" alias="Floor"/>
  		<typeAlias type="com.jw.ess.entity.ColorCode" alias="ColorCode" /> 
 		<typeAlias type="com.jw.ess.entity.FloorCategory" alias="FloorCategory" /> 
 		<typeAlias type="com.jw.ess.entity.Spec" alias="Spec" /> 
 		<typeAlias type="com.jw.ess.entity.Vein" alias="Vein" /> 
		<typeAlias type="com.jw.ess.entity.Supplier" alias="Supplier" />
		<typeAlias type="com.jw.ess.entity.Storage" alias="Storage" />
		<typeAlias type="com.jw.ess.entity.InStorage" alias="InStorage" />
		<typeAlias type="com.jw.ess.entity.Customer" alias="Customer"/>
		<typeAlias type="com.jw.ess.entity.Employee" alias="Employee"/>
		<typeAlias type="com.jw.ess.entity.Order" alias="Order"/>
		<typeAlias type="com.jw.ess.entity.OrderUpdate" alias="OrderUpdate"/>
		<typeAlias type="com.jw.ess.entity.OrderItem" alias="OrderItem"/>
		<typeAlias type="com.jw.ess.entity.OrderStateTrace" alias="OrderStateTrace"/>
		<typeAlias type="com.jw.ess.entity.PicPath" alias="PicPath"/>
		<typeAlias type="com.jw.ess.entity.StorageInfo" alias="StorageInfo"/>
		<typeAlias type="com.jw.ess.entity.SalesStats" alias="SalesStats"/>
		
	</typeAliases>

	<mappers>
		<mapper resource="com/jw/ess/entity/tenant.xml"/>
		<mapper resource="com/jw/ess/entity/floor.xml"/>
		<mapper resource="com/jw/ess/entity/colorCode.xml" /> 
 		<mapper resource="com/jw/ess/entity/floorCategory.xml" /> 
 		<mapper resource="com/jw/ess/entity/spec.xml" /> 
  		<mapper resource="com/jw/ess/entity/vein.xml" /> 
		<mapper resource="com/jw/ess/entity/supplier.xml"/>
		<mapper resource="com/jw/ess/entity/storage.xml"/>
		<mapper resource="com/jw/ess/entity/storageInfo.xml"/>
		<mapper resource="com/jw/ess/entity/inStorage.xml"/>
		<mapper resource="com/jw/ess/entity/customer.xml"/>
		<mapper resource="com/jw/ess/entity/employee.xml"/>
		<mapper resource="com/jw/ess/entity/order.xml"/>
		<mapper resource="com/jw/ess/entity/orderItem.xml"/>
		<mapper resource="com/jw/ess/entity/orderStateTrace.xml"/>
		<mapper resource="com/jw/ess/entity/picPath.xml"/>
		<mapper resource="com/jw/ess/entity/dailySalesStats.xml"/>
		<mapper resource="com/jw/ess/entity/monthlySalesStats.xml"/>
	</mappers>
	
</configuration>